QLineEdit {
    font-family: "Comic Sans MS";
    font-size: 18px;
    margin: 2px;
    padding: 0px;              
    color: #032429;            
    background-color: #7AB893;                
    border: none;
    height: 2em;
    border-radius: 2px;
}

QLabel {
    margin: 2px;
    padding: 0px;
    color: white;            
}

